<div class="container`">

    <form>
        <div>
            <ng-select [items]="managementRegistersData" [bindLabel]="'fbz'" [bindValue]="'id'" [closeOnSelect]="true"
                [searchable]="true" name="fbz" [(ngModel)]="data.fbz">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <div>
                        {{item.fbz}} - {{item.year}}
                    </div>
                </ng-template>
                <ng-template ng-value-tmp let-item="item">
                    <div>
                        {{item.fbz}} - {{item.year}}
                    </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                    <div>
                        {{item.fbz}} - {{item.year}}
                    </div>
                </ng-template>
            </ng-select>
        </div>

        <br />

        <div>
            <div class="section-one">
                <h4 class="text-center mb-2">{{'birdDamage.sectionOneTitle' | translate}}</h4>

                <div>
                    <h5 class="mb-1 border-bottom">{{'birdDamage.sectionOneHeron' | translate}}</h5>

                    <div class="row align-items-baseline">
                        <div class="col-md-3">
                            <label>{{'birdDamage.sectionOneNumber' | translate }}</label>
                            <input class="form-control" name="heron_number" [(ngModel)]="data.heron_number">
                        </div>
                        <div class="col-md-3"> <label>{{'birdDamage.sectionOneDailyFood' | translate }}</label>
                            <input class="form-control" name="heron_daily_food" [(ngModel)]="data.heron_daily_food">
                        </div>
                        <div class="col-md-3"> <label>{{'birdDamage.sectionOneQuantityRemoved' | translate }}</label>
                            <input class="form-control" name="heron_damage_in_euro_per_kg"
                                [(ngModel)]="data.heron_damage_in_euro_per_kg">
                        </div>
                        <div class="col-md-3"> <label>{{'birdDamage.sectionOneDamageInEuroPerKg' | translate }}</label>
                            <input class="form-control" name="heron_sum_price" [(ngModel)]="data.heron_sum_price">
                        </div>
                    </div>
                </div>

                <div class="mt-2">
                    <h5 class="mb-1 border-bottom">{{'birdDamage.sectionOneKomorantage' | translate}}</h5>

                    <div class="row align-items-baseline">
                        <div class="col-md-3">
                            <label>{{'birdDamage.sectionOneNumber' | translate }}</label>
                            <input class="form-control" name="komorantage_number" [(ngModel)]="data.komorantage_number">
                        </div>
                        <div class="col-md-3"> <label>{{'birdDamage.sectionOneDailyFood' | translate }}</label>
                            <input class="form-control" name="komorantage_daily_food"
                                [(ngModel)]="data.komorantage_daily_food">
                        </div>
                        <div class="col-md-3"> <label>{{'birdDamage.sectionOneQuantityRemoved' | translate }}</label>
                            <input class="form-control" name="komorantage_damage_in_euro_per_kg"
                                [(ngModel)]="data.komorantage_damage_in_euro_per_kg">
                        </div>
                        <div class="col-md-3"> <label>{{'birdDamage.sectionOneDamageInEuroPerKg' | translate }}</label>
                            <input class="form-control" name="komorantage_sum_price"
                                [(ngModel)]="data.komorantage_sum_price">
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-two mt-3">
                <h4 class="text-center mb-2">{{'birdDamage.sectionTwoTitle' | translate}}</h4>

                <div>
                    <h5 class="mb-1 border-bottom">{{'birdDamage.sectionTwoNumberOfSeedlings' | translate}}</h5>

                    <div class="row align-items-baseline">
                        <div class="col-md-4"> <label>{{'birdDamage.sectionTwoNumber' | translate }}</label>
                            <input class="form-control" name="number_of_seedlings"
                                [(ngModel)]="data.number_of_seedlings">
                        </div>
                        <div class="col-md-4"> <label>{{'birdDamage.sectionTwoAt80Cent' | translate }}</label>
                            <input class="form-control" name="komorantage_damage_in_euro_per_kg"
                                [(ngModel)]="data.komorantage_damage_in_euro_per_kg">
                        </div>
                        <div class="col-md-4"> <label>{{'birdDamage.sectionTwoDamageInEuro' | translate }}</label>
                            <input class="form-control" name="damage_of_seedlings"
                                [(ngModel)]="data.damage_of_seedlings">
                        </div>
                    </div>
                </div>

                <div class="mt-2">
                    <h5 class="mb-1 border-bottom">{{'birdDamage.sectionTwoAmountInInjured' | translate}}</h5>

                    <div class="row align-items-baseline">
                        <div class="col-md-4"> <label>{{'birdDamage.sectionTwoKg' | translate }}</label>
                            <input class="form-control" name="amount_of_injured_kg"
                                [(ngModel)]="data.amount_of_injured_kg">
                        </div>
                        <div class="col-md-4"> <label>{{'birdDamage.sectionTwo14EuroPerKg' | translate }}</label>
                            <input class="form-control" name="damage_of_seedlings"
                                [(ngModel)]="data.damage_of_seedlings">
                        </div>
                        <div class="col-md-4"> <label>{{'birdDamage.sectionTwoDamageInEuro' | translate }}</label>
                            <input class="form-control" name="damage_amount_of_injured"
                                [(ngModel)]="data.damage_amount_of_injured">
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-three mt-2">
                <h4 class="text-center mb-2">{{'birdDamage.sectionThreeTitle' | translate}}</h4>

                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{{'birdDamage.sectionThreeColumnOne' | translate}}</th>
                                <th scope="col">{{'birdDamage.sectionThreeColumnTwo' | translate}}</th>
                                <th scope="col">{{'birdDamage.sectionThreeColumnThree' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Test</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <button class="btn-sm btn-outline-primary" (click)="addNewRow()">{{'birdDamage.addNewRow' |
                            translate}}</button>
                    </div>
                </div>
            </div>

            <div class="section-four mt-2">
                <h4 class="text-center mb-2">{{sectionFourTitle}}</h4>

                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{{'birdDamage.sectionFourColumnOne' | translate}}</th>
                                <th scope="col">{{'birdDamage.sectionFourColumnTwo' | translate}}</th>
                                <th scope="col">{{'birdDamage.sectionFourColumnThree' | translate}}</th>
                                <th scope="col">{{'birdDamage.sectionFourColumnFour' | translate}}</th>
                                <th scope="col">{{'birdDamage.sectionFourColumnFive' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <button class="btn-sm btn-outline-primary" (click)="addNewRow()">{{'birdDamage.addNewRow' |
                            translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-4">
            <button class="btn btn-primary" (click)="submit()">{{'general.save' | translate}}</button>
        </div>
    </form>

</div>