<div *ngIf="fbzRegister">
    <div class="mb-2 col-lg-3 col-md-12">
        <ng-select [items]="fbzRegister" bindLabel="fbz" bindValue="id" [(ngModel)]="selectedRegistry.id"
            (change)="onChange($event)">
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                <span>{{item.fbz}} - {{item.year}}</span>
            </ng-template>
            <ng-template ng-value-tmp let-item="item">
                <span>{{item.fbz}} - {{item.year}}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
                <span>{{item.fbz}} - {{item.year}}</span>
            </ng-template>
        </ng-select>
    </div>
    <app-dynamic-grid #grid *ngIf="!loading" [path]="path" [file]="file" [data]="data"
        [additionalData]="selectedRegistry" (submit)="submit($event)"></app-dynamic-grid>
</div>

<app-loader *ngIf="loading"></app-loader>

<app-no-data *ngIf="!fbzRegister || !fbzRegister.length"></app-no-data>