<div *ngIf="managementRegistersData">
    <div class="row">
        <div class="col-md-12 text-center">
            <div *ngIf="fishCatchReport && fishCatchReport.status === fishCatchReportEnum.completed">
                <ngb-alert [type]="'success'" [dismissible]="false">
                    <div class="alert-body">{{'actionMessage.reportCompleted' | translate}}
                        {{fishCatchReport.date_completed | date: 'dd.MM.yyyy. HH:mm'}}</div>
                </ngb-alert>
            </div>
            <div *ngIf="allData && allData.length && (!fishCatchReport || fishCatchReport.status ===
            fishCatchReportEnum.draft)">
                <ngb-alert [type]="'warning'" [dismissible]="false">
                    <div class="alert-body">{{'actionMessage.reportCompletedNotYet' | translate}}</div>
                </ngb-alert>
            </div>
        </div>
        <div class="mb-2 col-md-3">
            <ng-select [items]="managementRegistersData" bindLabel="fbz" bindValue="id"
                [(ngModel)]="fishCatchFilter.managementRegisterId"
                [placeholder]="'commonFields.chooseNameOfWater' | translate"
                (change)="onChangeManagementRegister($event)" [searchable]="true">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span>{{item.fbz}} - {{item.year}}</span>
                </ng-template>
                <ng-template ng-value-tmp let-item="item">
                    <span>{{item.fbz}} - {{item.year}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                    <span>{{item.fbz}} - {{item.year}}</span>
                </ng-template>
            </ng-select>

        </div>
        <div class="mb-2 col-md-3">
            <ng-select [items]="allWaters" bindLabel="name" bindValue="name" [(ngModel)]="fishCatchFilter.water"
                [placeholder]="'commonFields.chooseManagementRegistry' | translate" (change)="onChangeWater($event)"
                [searchable]="true">
            </ng-select>

        </div>
        <div class="col-md-6" *ngIf="fishCatchFilter.managementRegister">
            <div class="d-flex justify-content-end action">
                <button
                    *ngIf="allData && allData.length && (!fishCatchReport || fishCatchReport.status === fishCatchReportEnum.draft)"
                    class="btn btn-success mb-1" (click)="completeReportsDialog()"><span class="fa fa-check"></span>
                    {{'action.completeReport' |
                    translate}}</button>
                <button *ngIf="fishCatchReport && fishCatchReport.status === fishCatchReportEnum.completed"
                    class="btn btn-primary mb-1" (click)="requestForAdditionalChanges()"><span
                        class="fa fa-question-circle-o"></span>
                    {{'action.requestAdminToChangeStatus' |
                    translate}}</button>
                <button *ngIf="!fishCatchReport || fishCatchReport.status !== fishCatchReportEnum.completed"
                    class="btn btn-outline-danger mb-1 ml-1" (click)="noHaveFishCatchEntryDialog()"><span
                        class="fa fa-times"></span>
                    {{'action.noHaveEntry' |
                    translate}}</button>
            </div>
        </div>
    </div>

    <div *ngIf="!loading">
        <app-dynamic-grid #grid [path]="path" [file]="file" [data]="data"
            [disableCRUD]="fishCatchFilter && fishCatchFilter.water  ? false : true" (submit)="submit($event)"
            (refreshParentComponent)="refreshGrid()"></app-dynamic-grid>
    </div>
</div>

<app-loader *ngIf="loading"></app-loader>

<app-dialog-confirm #dialogConfirm [title]="('actionMessage.dialogCompleteReportQuestionTitle' | translate)"
    [content]="('actionMessage.dialogCompleteReportQuestionText' | translate)"
    [confirmButtonText]="('actionMessage.dialogCompleteReportQuestionYes' | translate)"
    [cancelButtonText]="('actionMessage.dialogCompleteReportQuestionNo' | translate)"
    (confirm)="confirmCompleteReport()"></app-dialog-confirm>

<app-dialog-confirm #dialogNoHaveEntry [title]="('actionMessage.dialogNoHaveReportsTitle' | translate)"
    [content]="('actionMessage.dialogNoHaveReportsText' | translate)"
    [confirmButtonText]="('generalDialog.yes' | translate)" [cancelButtonText]="('generalDialog.no' | translate)"
    (confirm)="confirmNoHaveFishCatchEntry()"></app-dialog-confirm>

<app-dialog-confirm #dialogRequestForAdditionalChanges
    [title]="('actionMessage.dialogRequestForAdditionalChangesTitle' | translate)"
    [content]="('actionMessage.dialogRequestForAdditionalChangesText' | translate)"
    [confirmButtonText]="('generalDialog.yes' | translate)" [cancelButtonText]="('generalDialog.no' | translate)"
    (confirm)="requestToAdminForAdditionalChanges()"></app-dialog-confirm>